@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Merienda:wght@300..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: #f5f5f5;
    list-style-position: inside;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #111111;
}

main {
    width: 80vw;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 25vh;
    font-size: 6rem;
    font-family: "Bungee Spice", sans-serif;
}

.listen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vh;
    padding: 3vh;
}

.listen p {
    font-family: "Merienda", cursive;
    font-size: 1.25rem;
    color: #e98f07;
}

.listen span {
    font-family: "Merienda", cursive;
    font-size: 0.75rem;
    color: #ad460b;
}

.listen audio {
    width: 100%;
    filter: invert(0.9) hue-rotate(180deg);
    border-radius: 8px;
}

.history {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    padding: 2vh;
}

.history p,
.history p strong,
.history p em,
.underline {
    font-size: 1.25rem;
    text-align: justify;
}

.underline {
    text-decoration: underline;
}

.gallery {
    display: flex;
    justify-content: center;
    padding: 0 2.5vw;
}

.gallery img {
    height: 18vw;
    width: 26vw;
}

.gallery img:hover {
    height: 18vw;
    border-left: 1px solid #e98f07;
    border-right: 1px solid #e98f07;
    border-top: 1px solid #cd520a;
    border-bottom: 1px solid #cd520a;
}

.subscription h2 {
    color: #e98f07;
    font-size: 2rem;
    text-align: center;
}

.subscription form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

.subscription form div {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

label {
    font-size: 1.2rem;
}

input[type=text],
textarea {
    border-left: 1px solid #e98f07;
    border-right: 1px solid #e98f07;
    border-top: 1px solid #cd520a;
    border-bottom: 1px solid #cd520a;
    border-radius: 0.25rem;
    outline: none;
    padding: 0.5rem;
    background-color: #2e2d2b;
}

input[type=submit] {
    color: #111111;
}

footer {
    padding: 1rem;
    text-align: center;
}

footer p {
    color: grey;
}

@media (max-width: 768px) {}